# dependencies
nano-design/node_modules

# next.js
nano-design/.next/
nano-design/out/

# misc
.DS_Store
*.pem

# env
nano-design/.env*

# typescript
nano-design/*.tsbuildinfo
nano-design/next-env.d.ts

# vercel
nano-design/.vercel
